{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% if process == "connect" %}
<h1 class="text-center text-dark mt-3">{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p class="text-center">{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
<h1 class="text-center text-dark mt-3">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p class="text-center">{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
{% endif %}
            <form method="post" class="text-center mb-4">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">{% trans "Continue" %}</button>
                <p class="text-center mt-3 mb-1">
                    <strong>{% trans "Menu:" %}</strong>
                    <ul class="list-group">
                        {% if user.is_authenticated %}
                        <li class="list-group-item border-0 p-2"><a href="{% url 'account_email' %}">{% trans "Change E-mail" %}</a></li>
                        <li class="list-group-item border-0 p-2"><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
                        {% else %}
                        <li class="list-group-item border-0 p-2"><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
                        <li class="list-group-item border-0 p-2"><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
                        {% endif %}
                    </ul>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}
