{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="text-center text-dark mt-3">{% trans "Sign Up" %}</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p class="text-center">
                {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to {{site_name}}.
                <br>
                As a final step, please complete the following form:{% endblocktrans %}
            </p>

            <form class="signup text-center mb-4" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
                <button type="submit" class="btn btn-success">{% trans "Sign Up" %} &raquo;</button>
                <p class="text-center mt-3 mb-1">
                    <strong>{% trans "Menu:" %}</strong>
                    <ul class="list-group">
                        {% if user.is_authenticated %}
                        <li class="list-group-item border-0 p-2"><a href="{% url 'account_email' %}">{% trans "Change E-mail" %}</a></li>
                        <li class="list-group-item border-0 p-2"><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
                        {% else %}
                        <li class="list-group-item border-0 p-2"><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
                        <li class="list-group-item border-0 p-2"><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
                        {% endif %}
                    </ul>
                </p>
            </form>

        </div>
    </div>
</div>

{% endblock %}
