{% extends "base.html" %}

{% load i18n %}{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<h1 class="text-center text-dark mt-3">{% trans "Sign In" %}</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
            
            {% blocktrans %}
            <p class="text-center">
                Welcome to United! To leave a request, comment or like a post, please log in. <br>
                If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.
            </p>
            {% endblocktrans %}
            <div class="socialaccount_ballot">
                <ul class="socialaccount_providers list-group socialaccount_providers-custom">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
                <div class="login-or text-center">{% trans 'or' %}</div>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
            
            {% else %}
            
            {% blocktrans %}
            <p class="text-center">
                Welcome to United! To leave a request, comment or like a post, please log in. <br>
                If you have not created an account yet, then please
                <a href="{{ signup_url }}"><strong>sign up</strong></a> first.
            </p>
            {% endblocktrans %}
            
            {% endif %}

        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="signin allauth-form text-center" id="signin_form" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-success" type="submit">{% trans "Sign In" %}</button>
                <p class="mt-3">
                    <!-- <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> -->
                </p>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementsByTagName('title')[0].innerText = 'United | Sign In';
</script>

{% endblock %}
