{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="text-center text-dark mt-3">{% trans "Sign Up" %}</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p class="text-center">
                {% blocktrans %}
                Already have an account? <br>
                Then please
                <a href="{{ login_url }}"><strong>sign in</strong></a>
                .
                {% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="signup allauth-form text-center" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-success mt-2 mb-4" type="submit">{% trans "Sign Up" %}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
