.brand {
    font-weight: 700;
    color: #a6a600;
}

.navbar-brand-logo {
    height: 38px;
}

.red {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.navbar-brand:focus {
    outline: none;
    background-color: #ffffff0d;
    border-radius: 7px;
}

.navbar-brand span:focus {
    color: #fff;
    background-color: #ffffff0d;
}

.navbar-nav li a:focus {
    outline: none;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
    margin-bottom: 30px;
}

#signup_form>p>label,
.allauth-form>p>label {
    display: block;
}

label[for="id_remember"] {
    display: inline-block!important;
}

.errorlist {
    list-style-type: none;
    padding-left: 0;
    color: red;
}

.socialaccount_ballot {
    display: flex;
    flex-direction: column;
}

.socialaccount_providers-custom {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.socialaccount_providers-custom li {
    margin: 0 10px;
}

.account-settings-form {
    text-align: center;
}

.account-settings-form input {
    margin-bottom: 15px;
}

.account-settings-form button {
    margin-bottom: 20px;
}

footer p a:focus {
    outline: none;
    color: rgba(255,255,255,.5)!important;
}

footer p a:hover {
    color: rgba(255,255,255,.5)!important;
}

.page-404-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.page-404-buttons a {
    width: 165px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.page-404-buttons a:first-child {
    margin-bottom: 10px;
}

@media screen and (max-width: 414px) {
    .socialaccount_providers-custom {
        flex-direction: column;
    }
    
    .socialaccount_providers-custom li {
        margin: 0 10px 10px;
    }
    
    .page-404-buttons {
        flex-direction: column;
    }
}
