body {
    background-color: #F9FAFC;
}

a:hover {
    text-decoration: none!important;
}

.brand {
    font-weight: 700;
    color: #a6a600;
}

.navbar-brand-logo {
    height: 38px;
}

.red {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.navbar-brand:focus {
    outline: none;
    background-color: #ffffff0d;
    border-radius: 7px;
}

.navbar-brand span:focus {
    color: #fff;
    background-color: #ffffff0d;
}

.navbar-nav li a:focus {
    outline: none;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.card-title {
    font-size: 26px;
}

.card-img-top {
    object-fit: cover;
    aspect-ratio: 16/11;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    font-size: 11px;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

.masthead-text,
.masthead-image {
    padding: 0;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.masthead-image img {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-link:focus-visible {
    outline: none;
    color: #E84610;
}

.post-title {
    margin-top: 15%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: none;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

footer p a:focus {
    outline: none;
    color: rgba(255,255,255,.5)!important;
}

footer p a:hover {
    color: rgba(255,255,255,.5)!important;
}

#id_body {
    min-height: 37px;
    max-height: 137px;
}

#post-form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 18px;
}

#post-form p {
    display: flex;
    flex-direction: column;
}

#post-form p label {
    display: block;
    width: 70px;
}

#post-form p input,
#post-form p select {
    display: block;
    width: 100%;
    min-height: 30px;
    border: 1px solid #00000032;
    border-radius: 0.25rem;
}

#post-form p textarea {
    display: block;
    width: 100%;
    height: 100px;
    max-height: 100px;
    min-height: 30px;
    padding: 5px 3px;
    border: 1px solid #00000032;
    border-radius: 0.25rem;
}

#post-form p:nth-last-child(2) a {
    height: 30px;
    line-height: 30px;
    border: 1px solid #00000032;
    border-radius: 0.25rem;
    padding: 0 0 0 2px;
    background-color: #00000032;
}

#post-form p:nth-last-child(2) a:hover {
    background-color: transparent;
}

#post-form p:nth-last-child(2) a:focus {
    background-color: #f1f1f1;
}

#post-form:nth-last-child(1) input[type="file"] {
    background-color: #00000032;
    cursor: pointer;
}

#post-form:nth-last-child(1) input[type="file"]:hover {
    background-color: transparent;
}

#post-form:nth-last-child(1) input[type="file"]:focus {
    background-color: #f1f1f1;
}

#id_featured_image {
    border: 1px solid #00000032;
    border-radius: 0.25rem;
    padding: 2px;
}

#post-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.summernote-div {
    margin-top: -16px;
}

.errorlist {
    margin: 0 0 10px 0;
    padding: 0;
    text-align: center;
}

.errorlist li {
    color: red;
    list-style-type: none;
}