.brand {
    /* font-family: Lato, sans-serif; */
    /* font-size: 1.4rem; */
    font-weight: 700;
    color: #a6a600;
}

.red {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

#game-list-edit-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#game-list-publish-button,
#game-list-delete-button {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#game-form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 18px;
}

#game-form:nth-last-child(2) {
    background-color: #E84610;
}

#game-form p {
    display: flex;
    flex-direction: column;
}

#game-form p label {
    display: block;
    width: 70px;
}

#game-form p input {
    display: block;
    width: 100%;
    min-height: 30px;
    border: 1px solid #00000032;
    border-radius: 0.25rem;
}

#game-form p textarea {
    display: block;
    width: 100%;
    height: 100px;
    max-height: 100px;
    min-height: 30px;
    padding: 5px 3px;
    border: 1px solid #00000032;
    border-radius: 0.25rem;
}

#id_featured_image {
    border: 1px solid #00000032;
    border-radius: 0.25rem;
    padding: 2px;
}

#game-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.summernote-div {
    margin-top: -16px;
}

.errorlist {
    margin: 0 0 10px 0;
    padding: 0;
    text-align: center;
}

.errorlist li {
    color: red;
    list-style-type: none;
}

.draft {
    color: burlywood;
}

.published {
    color:rgb(81, 81, 177);
}

.card-button-action {
    width: 80px;
}

.accordion>.card>.card-header {
    margin-bottom: 0px;
}

@media screen and (max-width: 414px) {
    .container-fluid {
        padding: 1px;
    }
}
