.brand {
    /* font-family: Lato, sans-serif; */
    /* font-size: 1.4rem; */
    font-weight: 700;
    color: #a6a600;
}

.red {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

#game-list-edit-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#game-list-publish-button,
#game-list-delete-button {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#game-form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 18px;
}

#game-form:nth-last-child(2) {
    background-color: #E84610;
}

#game-form p {
    display: flex;
    flex-direction: column;
}

#game-form p label {
    display: block;
    width: 70px;
}

#game-form p input {
    display: block;
    width: 100%;
}

#id_featured_image {
    background-color: gray;
}

#game-form p textarea {
    display: block;
    max-height: 100px;
    width: 100%;
}

#game-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
