{% extends "blog/base.html" %}

{% block content %}{% load static %}

<h1 class="text-center text-dark m-3">Publish posts</h1>

<div class="row">
    <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 mt-0 mb-3">
        <form id="search-form" method="GET">
            <div class="input-group">
                <input type="text" id="search-input" class="form-control" name="search" placeholder="Search posts" tabindex="1">
            </div>
        </form>
    </div>
</div>

<div class="container-fluid" id="post-list-container">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="{% url 'post_detail' post.slug %}" class="post-link" tabindex="1">
                                <div class="image-container mb-2">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top" src="{% static 'blog/united.jpeg' %}" alt="{{post.title}} - post">
                                    {% else %}
                                    <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{post.title}} - post">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author">Author: {{ post.author }}</p>
                                    </div>
                                </div>
                                <h2 class="card-title">{{post.title}}</h2>
                                <p class="card-text">{{post.excerpt}}</p>
                            </a>
                            <hr>
                            <p class="card-text text-muted additional-info">
                                <span>{{post.created_on|date:"M d, Y"}}</span>
                                <i class="far fa-heart"></i>
                                {{post.number_of_likes}}
                                <i class="far fa-comments"></i>
                                {{post.number_of_published_comments}}
                            </p>
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% empty %}
            <div class="col-12">
                {% if request.GET.search %}
                    <p class="text-center">No results found</p>
                {% else %}
                    <p class="text-center">No draft posts available</p>
                {% endif %}
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?search={{ request.GET.search }}&page={{ page_obj.previous_page_number }}" class="page-link text-muted border-0 rounded">
                    &laquo;
                </a>
            </li>
            {% endif %}
            {% if page_obj.number != 1 %}
            <li class="page-item">
                <a href="?search={{ request.GET.search }}&page=1" class="page-link text-muted border-0 rounded">
                    NEW
                </a>
            </li>
            {% endif %}
            {% if page_obj.number >= 3 %}
            <li class="page-item disabled">
                <span class="page-link text-muted">&hellip;</span>
            </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
                {% if page > page_obj.number|add:'1' and page < page_obj.paginator.num_pages %}
                    {% if page > 3 and page < page_obj.number %}
                    <li class="page-item">
                        <a href="?search={{ request.GET.search }}&page={{ page }}" class="page-link text-muted border-0 rounded">{{ page }}</a>
                    </li>
                    {% endif %}
                {% elif page >= page_obj.number|add:'-1' and page <= page_obj.number|add:'1' %}
                    <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                        <a href="?search={{ request.GET.search }}&page={{ page }}" class="page-link text-muted border-0 rounded">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.number < page_obj.paginator.num_pages|add:'-1' %}
            <li class="page-item disabled">
                <span class="page-link text-muted">&hellip;</span>
            </li>
            {% endif %}
            {% if page_obj.number != paginator.num_pages %}
            <li class="page-item {% if paginator.num_pages == page_obj.number %}active{% endif %}">
                <a href="?search={{ request.GET.search }}&page={{ paginator.num_pages }}" class="page-link text-muted border-0 rounded">
                    OLD
                </a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?search={{ request.GET.search }}&page={{ page_obj.next_page_number }}" class="page-link text-muted border-0 rounded">
                    &raquo;
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<script>
    // Wait for the DOM to be loaded
    document.addEventListener('DOMContentLoaded', function() {
        // Get the search form and input elements
        var searchForm = document.getElementById('search-form');
        var searchInput = document.getElementById('search-input');
        var postListContainer = document.getElementById('post-list-container');

        // Function to update the game list with filtered results
        function updatePostList(query) {
            // Perform AJAX request
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '{% url "post_publish_list" %}?search=' + encodeURIComponent(query), true);

            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Parse the response as an HTML document
                    var parser = new DOMParser();
                    var responseDoc = parser.parseFromString(xhr.responseText, 'text/html');

                    // Get the game list container from the parsed document
                    var parsedPostListContainer = responseDoc.getElementById('post-list-container');

                    // Update the game list with the filtered results
                    postListContainer.innerHTML = parsedPostListContainer.innerHTML;
                }
            };

            xhr.onerror = function() {
                console.error('An error occurred while performing the search.');
            };

            xhr.send();
        }

        // Handle input event
        searchInput.addEventListener('input', function() {
            // Get the search query from the input field
            var query = searchInput.value.trim();

            // Update the game list with the filtered results
            updatePostList(query);
        });

        // Prevent form submission
        searchForm.addEventListener('submit', function(event) {
            event.preventDefault();
        });
    });

    document.getElementsByTagName('title')[0].innerText = 'United | Publish posts';
    document.getElementById('nav-item-blog').classList.remove('active');
    document.getElementById('nav-item-publish-posts').classList.add('font-weight-light');
</script>

{%endblock%}
