{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>United | Blog</title>
    <!-- <link rel="icon" type="image/x-icon" href="/media/blog/favicon.ico"> -->
    <link rel="icon" type="image/x-icon" href="https://aws-ico-images.s3.eu-west-1.amazonaws.com/favicon.ico">
    <link rel="stylesheet" href="{% static 'css/blog.style.css' %}">
</head>
<body>
    
    <header>
        <h1>Headet</h1>
    </header>
    
    <section>
        {% block content %}
        {% endblock content %}
    </section>
    
    <footer>Footer</footer>
    
</body>
</html>