{% extends "connect/base.html" %}

{% block content %}

<h1 class="text-center text-dark m-3">There is no such a page</h1>

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <h3 class="contact-heading uppercase text-center mt-3">in the Connect section of the United Project</h3>
            <h5 class="uppercase text-center mb-4">You can:</h5>
            <div id="game-form-buttons">
                <a href="{% url 'game_list' %}" class="btn btn-primary mb-3" tabindex="1">Back to Connects</a>
                {% if user.is_authenticated %}
                <a href="{% url 'game_list_of_user' %}" class="btn btn-primary mb-3" tabindex="2">Check your Games</a>
                <a href="{% url 'game_create' %}" class="btn btn-success mb-3" tabindex="3">Create a Connect</a>
                {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-secondary mb-3" tabindex="2">Sign In</a>
                <a href="{% url 'account_signup' %}" class="btn btn-secondary mb-3" tabindex="3">Sign Up</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{%endblock%}