{% extends "connect/base.html" %}

{% block content %}

<h1 class="text-center text-dark m-3">Not found this page in the Connect</h1>

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <h3 class="contact-heading uppercase text-center mt-1 mb-3"> section of the United Project</h3>
            <h5 class="uppercase text-center mb-4">You can:</h5>
            <div id="connect-404-buttons">
                {% if user.is_authenticated %}
                <a href="{% url 'game_list' %}" class="btn btn-primary m-1" tabindex="1">Back to Connects</a>
                <a href="{% url 'game_list_of_user' %}" class="btn btn-warning m-1" tabindex="2">Check your Games</a>
                <a href="{% url 'game_create' %}" class="btn btn-success m-1" tabindex="3">Create a Connect</a>
                {% else %}
                <a href="{% url 'game_list' %}" class="btn btn-primary m-1" tabindex="1">Back to Connects</a>
                <a href="{% url 'account_login' %}" class="btn btn-success m-1" tabindex="2">Sign In</a>
                <a href="{% url 'account_signup' %}" class="btn btn-info m-1" tabindex="3">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementsByTagName('title')[0].innerHTML = 'Connect | Page not found'
</script>

{%endblock%}