{% extends "connect/base.html" %}

{% block content %}

<h1 class="text-center text-dark m-3">Publish Game Connect</h1>

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12">
            <p class="text-center">Are you sure you want to publish this game connect?</p>
            <form id="game-form" method="POST" enctype="multipart/form-data" action="{% url 'game_publish' game.pk %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div id="game-form-buttons">
                    <button class="btn btn-primary" type="submit">Publish</button>
                    <a class="btn btn-warning" href="{% url 'game_publish_list' %}">Cancel</a>
                    <a class="btn btn-danger" href="{% url 'game_delete' game.slug %}">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('nav-item-connect').classList.remove('active');
    document.querySelector('#game-form input[name="title"]').tabIndex = 1;
    document.querySelector('#game-form input[name="slug"]').tabIndex = 2;
    document.querySelector('#game-form select[name="platform"]').tabIndex = 3;
    document.querySelector('#game-form textarea[name="excerpt"]').tabIndex = 4;
    document.querySelector('#game-form #id_content_iframe').tabIndex = 5;
    document.querySelector('#game-form a').tabIndex = 6;
    document.querySelector('#game-form input[name="featured_image"]').tabIndex = 7;
    document.querySelector('#game-form button[type="submit"]').tabIndex = 8;
    document.querySelector('#game-form .btn-warning').tabIndex = 9;
    document.querySelector('#game-form .btn-danger').tabIndex = 10;
    
    document.getElementsByTagName('title')[0].innerHTML = "United | Publish {{ game.title }}";
</script>

{%endblock%}
