{% extends "connect/base.html" %}

{% block content %}

<h1 class="text-center text-dark m-3">Create Game Connect</h1>

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12">
            <form id="game-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                    <div id="game-form-buttons">
                        <button class="btn btn-success" type="submit">Create</button>
                        <a class="btn btn-warning" href="{% url 'game_list' %}">Cancel</a>
                    </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('nav-item-connect').classList.remove('active');
    document.getElementById('nav-item-add-game').classList.add('active');

    document.addEventListener('DOMContentLoaded', function() {
        var titleInput = document.getElementById('id_title');
        var slugInput = document.getElementById('id_slug');
    
        titleInput.addEventListener('input', function() {
            var title = titleInput.value;
            var slug = title.toLowerCase().replace(/[^a-z0-9]+/g, '-');
            slugInput.value = slug;
        });
    });
</script>

{%endblock%}
