{% extends "connect/base.html" %}

{% block content %}

<h1 class="text-center text-dark m-3">My Games</h1>

<div class="container-fluid">
    <div class="row">
        {% if game_list %}
        <div class="accordion col-12 mb-4" id="accordionExample">
            <div class="card">
                {% for game in game_list %}
                <div class="card-header btn text-left bg-dark text-light border-light rounded" id="heading-{{game.slug}}" data-toggle="collapse" data-target="#collapse-{{game.slug}}" aria-expanded="true" aria-controls="collapse-{{game.slug}}" onclick="scrollToTop('{{game.slug}}')">
                    <div class="row align-items-center m-0 pl-0">
                        <div class="col-md-8 m-0 pl-0 pr-0 pr-md-3">
                            <h3 class="card-title text-center">{{game.title}}</h3>
                            <p class="author text-center">
                                <small>with {{ game.author }}</small>
                                {% if game.status == 0 %}
                                <small class="draft">Waiting for approval</small>
                                {% elif game.status == 1 %}
                                <small class="published">Published</small>
                                {% endif %}
                            </p>
                            <p class="card-text text-justify mb-3 mb-md-0">{{game.excerpt}}</p>
                        </div>
                        <div class="col-md-4 m-0 p-0 image-container">
                            {% if "placeholder" in game.featured_image.url %}
                            <img class="card-img-top rounded" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="Card image cap">
                            {% else %}
                            <img class="card-img-top rounded" src="{{ game.featured_image.url }}" alt="Card image cap">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="collapse-{{game.slug}}" class="collapse" aria-labelledby="heading-{{game.slug}}" data-parent="#accordionExample">
                    <div class="card-body text-justify">
                        {{ game.content | safe }}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row justify-content-center">
                            {% if user.is_authenticated %}
                                {% if game.author == user %}
                                <form method="get" action="{% url 'game_edit' game.slug %}" id="game-list-edit-button">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-warning col-3 col-md-2 ml-1 mr-1 mb-3">
                                        Edit
                                    </button>
                                </form>                                
                                {% else %}
                                <a href="{% url 'game_connect' game.slug %}" class="btn btn-secondary col-4 col-md-2 ml-1 mr-1 mb-3">Connect</a>
                                {% endif %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No games found.</p>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <p class="text-center">You haven't add any game yet.</p>
            <p class="text-center">
                <a href="{% url 'game_create' %}" class="btn btn-success mb-3" tabindex="1">Let's create Connect now!</a>
            </p>
        </div>
        {% endif %}
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{page_obj.previous_page_number}}" class="page-link text-muted border-0 rounded">
                    <span aria-hidden="true">&laquo;</span> NEW
                </a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{page_obj.next_page_number}}" class="page-link text-muted border-0 rounded">
                    OLD <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

<script>
    document.getElementsByTagName('title')[0].innerText = 'United | My Games';
    document.getElementById('nav-item-connect').classList.remove('active');
    document.getElementById('nav-item-my-games').classList.add('font-weight-light');
</script>

<!-- <script>
    function scrollToTop(slug) {
        const element = document.getElementById('heading-' + slug);
        element.scrollIntoView({ behavior: 'smooth', block: 'start' });
    }
</script> -->

{%endblock%}
